.container {
    padding: 10px;
}
.container input {
    border: 1px solid blue;
    color: blue;
}

.container input.negative {
    border: 1px solid red;
    color: red;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}